{% extends "base.html" %}
{% block title %}Page Not Found{% endblock %}

{% block body %}
<a href="/">&larr; home</a>
<br/>
<div>
  <p>You may have followed a link which is outdated or incorrect. Or I may have screwed up, these things happen.</p>
  <br />
  <script type='text/javascript'>
    var GOOG_FIXURL_LANG = 'en';
    var GOOG_FIXURL_SITE = 'http://{{config.host}}';
  </script>
  <script type='text/javascript' src='http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js'></script>
</div>
{% endblock %}