{% extends "base.html" %}
{% block title %}{{page.title|escape}} - {{config.blog_name}}{% endblock %}

{% block body %}
  <a href="/">&larr; back</a>
  <br/>
  <h2>{{page.title|escape}}</h2>
  <p class="post-info" class="xMarginB">Posted on <span class="date">{{page.published|date:"d F, Y"}}</span></p>
  <p class="xMarginT">{{page.body}}</p>
  <br/>
  <p>
  <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="cabhishek">Tweet</a>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  </p>
{% endblock %}